[submodule "backend"]
	path = backend
	url = git@github-nxtanh:NXT-ANH/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github-nxtanh:NXT-ANH/frontend.git
[submodule "docs"]
	path = docs
	url = git@github-nxtanh:NXT-ANH/docs.git
[submodule "test"]
	path = test
	url = git@github-nxtanh:NXT-ANH/test.git
[submodule "e2e"]
	path = e2e
	url = git@github-nxtanh:NXT-ANH/e2e.git
